html, body {
    font-size: 14px;
    margin: 0px;
    min-width: 200px;
    padding-bottom: 6px;
    /* background-color: rgb(71, 71, 71); */
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
    /* padding-bottom: 10px; */
    color: #2f5876;
}

a:link, a:visited {
    color: #000000;
    outline: 0;
    text-decoration: none;
}

img {
    width: 30px;
    border-radius: 8px;
}

.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 6px;
}

.modal-content {
    padding: 0 22px;
}

.modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 16px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    color: #444;
    font-size: 18px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
}

.flex {
    opacity: 1;
    width: 120px;
}

.flex:hover {
    opacity: 0.4;
}

.flex .fa {
    font-size: 40px;
    color: #2f5876;
}