.popupButton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 6px 6px auto 6px;
    transition-duration: 0.2s;
    border-radius: 4px;
}

.popupButtonRed {
    border: 2px solid #f44336;
}

.popupButtonGreen {
    border: 2px solid #44aa00;
}

.popupButtonGreen:hover {
    background-color: #44aa00;
    color: white;
    cursor: pointer;
}